.container {
  background-color: white;
  margin: 100px auto;
  width: 1280px;
  padding: 50px;
  box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.1);
  background-image: url('../img/bg.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}