.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.menu {
  @include m_resetpm(); // aquí no es necesario pero para probar que el mixin se puede usar en diferentes lugares
  list-style: none;
  display: flex;
  gap: 2rem;

  &__item a {
    @include btn($terciary-color, $font-color, "true");

    &:hover {
      @include btn($secondary-color, $terciary-color, "false");
      box-shadow: $box-shadow;
    }
  }
}

